.page img {
  box-shadow: 5px 10px 18px #d2d0d0;
  max-width: 100%;
}

.page table img {
  box-shadow: none;
}

@media only screen and (max-width: 970px) {
  .site-name {
    font-size: 1rem !important;
  }
}

@media only screen and (max-width: 362px) {
  .site-name {
    display: none !important;
  }
}

a, p a code {
    color: #007daf;
}


.sidebar .toctree-l1 a:hover, .sidebar .toctree-l2 a:hover {
    color: #007daf;
}

.sidebar .toctree-l1.current a {
    border-left: .5rem solid #36c6ff;
}

.sidebar .toctree-l1 a.current {
    border-left-color: #007daf;
}

.sidebar .toctree-l1 a.current, .sidebar .toctree-l2 a.current {
    color: #007daf;
    font-weight: 600;
}

@media (min-width: 719px){
  .nav-item>a:not(.external).router-link-active, .nav-item>a:not(.external):hover {
    margin-bottom: -2px;
    border-bottom: 2px solid #0090ca;
  }
}

.nav-links a.router-link-active, .nav-links a:hover {
    color: #007daf;
}

@media (min-width: 719px) {
.nav-links a.router-link-active, .nav-links a:hover {
    color: #2c3e50;
  }
}

.content:not(.custom), .page-nav {
    max-width: 95% !important;
}

#localisation-et-recherche table p {
	line-height: unset;
	font-size: 14px
}